@import "tailwindcss";
@import "@nuxt/ui";

@theme {
  --color-background: #121212;
  --color-text: #e4e4e4;
  --color-accented: #1f1f1f;
  --color-muted: #1a1a1a;
  --color-hover-menu: #2c2c2c;
  --color-background-layout: #1a1a1a;
}

@font-face {
  font-family: 'Space Mono';
  src: url('../font/Space_Mono/SpaceMono-Regular.ttf') format('truetype'),
    url('../font/Space_Mono/SpaceMono-Bold.ttf') format('truetype'),
    url('../font/Space_Mono/SpaceMono-Italic.ttf') format('truetype'),
    url('../font/Space_Mono/SpaceMono-BoldItalic.ttf') format('truetype');
}

:root {
  font-family: "Space Mono", monospace, sans-serif;
  --ui-header-height: 6rem;
  --ui-header-margin: 0 1rem;
}

/* * {
  box-sizing: border-box;
} */

body {
  background-color: #121212;
  margin: 0;
  padding: 0;
  color: #e4e4e4;
}